html { min-height: 100%; }

body { background-color: #434343; }
     
.wrapper { width: 80% ; width: 1200px;
           margin-left: auto;
           margin-right: auto;
         }

#container {display: table;
            background-image: url(bilder/banners/SplatterBGMax.png);
}


header { background-position-y: -30px;
         //background-color: #434343;
         background-image: url(bilder/logo/gamezoneV2.png);
         background-size: 100% 160%;
         background-position: 100% 60%; 
         background-repeat: no-repeat;
         height: 220px;
         margin-left: auto;
         margin-right: auto;
         width: 790px;
         overflow: hidden;}


nav { background-color: #434343;
      margin-left: 94px;
      margin-right: 94px;
}

nav ul { width: 100%;
         font-family: Arial, Verdana;
         font-size: 16px;
         margin: 0;
         padding: 0;
         list-style: none; }

nav ul li { width: 20%;
            display: inline-block;
            position: relative;
            float: left; 
            transition: all 0.2s;}

nav li ul { display: none; }

nav ul li a { text-align: center;
              font-size: 1.2em;
              display: block;
              text-decoration: none;
              color: #919191;
              padding: 5px 15px 5px 15px;
              background: #434343;
              margin-left: 0;
              white-space: nowrap; }

nav ul li a:hover { background: #939393;
                  
                    color: #161513; }

nav li:hover ul { display: block;
                  position: absolute; }

nav li:hover li { width: 100%;
                  float: none;
                  
                  font-size: 11px; }

nav li:hover a { background: #cc3331;
                
                 color: #161513; }

nav li:hover li a:hover { background: #939393;
                           
                          
}


#left { float: left;
        //background-image: url(bilder/banners/SplatterLeftNr3Tiny.png); 
        min-height: 500px;
        
        width: 95px;
        margin-top: -18px;
        }
        

#right { float: right;
         //background-image: url(bilder/banners/SplatterRightNr3Tiny.png);
         background-repeat: repeat;
         min-height: 500px;
        
         width: 95px;
         }

main { background-image: linear-gradient(#ffffff, #969696);
       //margin-top: 15px;
       margin-left: 95px;
       margin-right: 95px;
       min-height: 500px;
       width: 1010px;
       padding-top: 25px;
       color: #4f5b66;
       background-size: contain;}

footer { background-color: #969696;
         margin-left: 95px;
         margin-right: 95px; 
         text-align: center;
         padding-top: 10px;
         margin-bottom: 10px;
         clear: both;
          }

footer a { color: #cc3331; }

footer a:hover{ color: #ff0000;
    
} 


main div { padding-top: 40px;
           padding-left: 20px;
           padding-right: 40px;
           padding-bottom: 30px;}

.regler { text-align: center;
          }

.head { border-bottom: solid black 1px;}
       
         

.foot { border-top:  solid black 1px;}

main table { padding-top: 50px;
             margin-left: auto;
             margin-right: auto;}

main table td { border-bottom: dashed black 1px;
                font-size: 1.3em;}



@media (max-width: 1200px ){
.wrapper    {width:1090px;
             
    
}
#container {display: table;
            background-image: url(bilder/banners/SplatterBGMed.png);
}
main{width: 900px;}
}

@media  (max-width: 1090px ){
.wrapper    {width:980px;
           
    
}
#container {display: table;
            background-image: url(bilder/banners/SplatterBGMin.png);
}
main{width: 790px;}
}

