html { min-height: 100%; }

body { background-color: blue;
     }
     
.wrapper { background-color: blue;
           width: 80%; min-width: 960px; max-width: 1400px;
           margin-right: auto;
           margin-left: auto; }

header { background-color: green;
         text-align: center; 
         line-height: 80px;
         height: 100px;
         margin-left: 190px;
         margin-right: 190px; }


nav { background-color: white;
      //text-align: center; 
      line-height: 40px;
      height: 45px;
      margin-left: 190px;
      margin-right: 190px; }

     nav ul {
  text-align: left;
  width: 100%;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
    nav ul li a {
    width: 20%;
    float: left;
  font: bold 12px/18px sans-serif;
  display: inline-block; 
  
  position:relative;
  border: 1px #000;
  background: #ff00ff;
  cursor: pointer;
  transition: all 0.2s;
}
    nav ul li:hover {
  background: #555;
  color: #fff;
}
nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  
  transition: opacity 0.2s;
}
nav ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  //float:left;
}
nav ul li ul li:hover { background: #666; }
nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
aside { opacity: 0.3; }

#left { background-color: #7094b8;
        float: left;
        width: 190px;
        min-height: 500px;
        display: none; }

#right { background-color: #7094b8;
         float: right;
         min-height: 500px;
         width: 190px;
         display: none; }

main { background-color: #e6e6dc;
       margin-top: 0px;
       margin-left: 190px;
       margin-right: 190px;
       min-height: 500px; }

footer { background-color: grey;
         margin-left: 190px;
         margin-right: 190px; 
         text-align: center;
         color: #4775a3;
         padding-top: 10px;
         padding-bottom: 10px;
         clear: both; }

